/* Globalno */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

ul li a{
    color: black;
}

ul li a:hover{
    color: red;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}


/* Header */
.header-navbar{
    display: flex;
    margin: auto;
    width: 60%;
}

.header-navbar h1 a{
    color: white;
    background-color: red;
}

.header-navbar ul{
    padding-top: 12px;
    border-bottom: 2px solid lightgrey;
    width: 100%;
   
}

.header-navbar .to-right{
    width: 20%;
}

.header-navbar li{
    display: inline;
    padding-left: 10px;
}

.header-navbar li a{
    color:black;
}

.header-navbar li a:hover{
    color:red;
}

/* Main */
.main-homepage{
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

/* Main navigacija*/
.category-main{
    display: flex;
    border-bottom: 2px solid lightgray;
}

.category-main ul li{
    display: inline;
    padding: 5px;
    
}

/* Glavni kontent */
.main-category-content{
    padding-top: 15px;
}

/* Top box */
.top-box{
    width: 60%;
    display: flex;
    border-bottom: solid 2px lightgray;
    padding: 5px;

}

.top-box .left-part{
    width: 60%;
    border-right: solid 2px lightgray;
}

.left-part .first-news{
    padding-right: 5px;
}

.home-related-holder{
}

.home-related-holder ul li{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 2px lightgray;
}

.comments{
    float:right;
}

.comment-img{
    width: 20px;
    height: 20px;
}

.top-box .right-part{
    width: 40%;
    padding-left: 10px;
}


/* Time line */ 
.home-category-timeline{
    position: absolute;
    top: 90px;
    right: 20%;
}

.home-category-timeline .tab-content{
    padding-top: 10px;
}

.ul-tab-content li{
    padding-bottom: 10px;
}

.flex{
    display:flex
}
